<h1>Welcome to the Voting API</h1>
<p>Here you can create a new voter, sign in as a previous voter, and vote of course!</p>
<p>Create voter</p>
<p><%= link_to "sign in as voter", "#"%></p>
<p>vote</p>
<p>etc</p>
